* {
  box-sizing: border-box;
  font-size: 40px;
}

body {
  height: 100vh;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-wrap: wrap;
  width: calc(8rem + 16px);
  margin-bottom: 1rem;
}

.square {
  background-color: black;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  margin: 2px;
  box-shadow: 0 0 4px lightblue;
}

.square--cross {
  background-image: url("img/cross.svg");
}

.square--circle {
  background-image: url("img/circle.svg");
}

.game-status {
  width: calc(8rem + 16px);
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-align: center;
  padding-top: 0.4rem;
  color: gainsboro;
}

.end--game {
  background-color: rgb(43, 67, 90);
}

button {
  width: 2.3rem;
  height: 1rem;
  font-size: 0.5rem;
  color: white;
  background-color: rgb(43, 67, 90);
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

#help {
  width: 0.9rem;
}

.help--window {
  background-color: white;
  position: absolute;
  top: 0.5rem;
  height: 14rem;
  width: 8.5rem;
  border-radius: 5px;
  padding: 0.3rem;
}

#img {
  background-image: url("img/patterns.png");
  height: 55%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.help--window h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  margin: 0.3rem;
}

.help--window p {
  font-size: 0.5rem;
  margin: 0.1rem;
}

#cancel {
  width: 0.7rem;
  height: 0.7rem;
  padding-top: 0.05rem;
  text-align: center;
  font-size: 0.5rem;
  color: white;
  background-color: rgb(43, 67, 90);
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 7rem;
  margin-bottom: 0px;
}
